<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.modules.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.modules.entity.Product">
    <!--@mbg.generated-->
    <!--@Table product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo_img" jdbcType="VARCHAR" property="logoImg" />
    <result column="sub_img" jdbcType="VARCHAR" property="subImg" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="origin_price" jdbcType="DECIMAL" property="originPrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="likes" jdbcType="INTEGER" property="likes" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="total_sales" jdbcType="INTEGER" property="totalSales" />
    <result column="monthly_sales" jdbcType="INTEGER" property="monthlySales" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, shop_id, category_id, `name`, logo_img, sub_img, remark, origin_price, sell_price, 
    discount, likes, limit_num, total_sales, monthly_sales, stock, `status`, del_flag, 
    create_time, update_time, tags
  </sql>

  <select id="selectPage" resultType="com.tencent.wxcloudrun.modules.entity.Product">
    select     p.id, p.shop_id, p.category_id, p.`name`, p.logo_img, p.sub_img, p.remark, p.origin_price,
    p.sell_price, p.total_sales, p.monthly_sales, p.stock, p.`status`,
    p.create_time, p.update_time,c.name categoryName,count(i.id) salesCount,detail_remark,detail_img
    from product p
    left join product_category c on c.id = p.category_id
    left join order_item i on i.product_id = p.id
    where p.del_flag = 0
    <if test="dto.name != null and dto.name != ''">
      and p.`name` like "%" #{dto.name} "%"
    </if>
      and p.`status` = '1'
    <if test="dto.categoryId != null">
      and p.category_id = #{dto.categoryId}
    </if>
    group by p.id
    <choose>
      <when test="dto.queryType != null and dto.queryType != ''">
        order by count(i.id) desc
      </when>
      <otherwise>
        order by p.create_time desc
      </otherwise>
    </choose>
  </select>
</mapper>